@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("./reset.css");
@import url("./utils.css");

:root {
  /* Colours */
  --blue: hsl(246deg, 80%, 60%);
  --light-orange: hsl(15deg, 100%, 70%);
  --soft-blue: hsl(195deg, 74%, 62%);
  --light-red: hsl(348deg, 100%, 68%);
  --lime-green: hsl(145deg, 58%, 55%);
  --violet: hsl(264deg, 64%, 52%);
  --soft-yellow: hsl(43deg, 84%, 65%);

  --very-dark-blue: hsl(226deg, 43%, 10%);
  --dark-blue: hsl(235deg, 46%, 20%);
  --desaturated-blue: hsl(235deg, 45%, 61%);
  --pale-blue: hsl(236deg, 100%, 87%);
  --white: hsl(0deg, 0%, 100%);

  /* Typography */
  --text-m: 1rem;
  --heading-s: 1.125rem;
  --heading-m: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
  --heading-l: clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;

  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;

  /* Misc */
  --card-corner-radius: 15px;
}

html {
  height: 100%;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  color: var(--white);
}

body {
  min-height: 100%;
  background-color: var(--very-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 5rem;
}

p {
  font-size: var(--text-m);
  font-weight: var(--font-regular);
  color: var(--pale-blue);
}

h2 {
  font-size: var(--heading-l);
  font-weight: var(--font-light);
}

h3 {
  font-size: var(--heading-m);
  font-weight: var(--font-light);
}

h6 {
  font-size: var(--heading-s);
  font-weight: var(--font-medium);
}

.wrapper {
  /* padding-block: 5rem; */
  padding-inline: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--spacing-300);
}

@media (min-width: 1440px) {
  .wrapper {
    padding-inline: unset;
    margin: auto;
    max-width: 70%;
    grid-template-columns: repeat(4, minmax(16rem, 1fr));
  }
}

/* Profile Component */

.profile {
  background-color: var(--dark-blue);
}

.profile__top {
  background-color: var(--blue);
  padding: var(--spacing-400);
  display: flex;
  gap: var(--spacing-300);
}

.profile, .profile__top {
  border-radius: var(--card-corner-radius);
}

@media (min-width: 768px) {
  .profile {
    grid-column: span 2;
  }
}

@media (min-width: 1440px) {
  .profile {
    grid-row: span 2;
    grid-column: unset;
  }
}

.profile__img {
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--white);
  border-radius: 50%;
}

.profile__bottom {
  padding-block: var(--spacing-300);
  padding-inline: var(--spacing-400);
  display: flex;
  justify-content: space-around;
}

.profile__link {
  text-decoration: none;
  color: var(--desaturated-blue);
  cursor: pointer;
  transition: color 0.1s ease;
}

.profile__link--active, .profile__link:hover {
  color: var(--white);
}

/* Card component */

.card {
  --_highlight: var(--highlight, var(--light-orange));
  
  background-color: var(--_highlight);
  border-radius: var(--card-corner-radius);
  position: relative;
  overflow: clip;
}

.card--orange {
  --highlight: var(--light-orange);
}

.card--blue {
  --highlight: var(--soft-blue);
}

.card--red {
  --highlight: var(--light-red);
}

.card--green {
  --highlight: var(--lime-green);
}

.card--purple {
  --highlight: var(--violet);
}

.card--yellow {
  --highlight: var(--soft-yellow);
}

.card__icon {
  position: absolute;
  top: -0.75rem;
  right: 1.5rem;
}

.card__main {
  background-color: var(--dark-blue);
  border-radius: var(--card-corner-radius);
  margin-top: var(--spacing-400);
  padding: var(--spacing-300);
  position: relative;
}

.card__title-bar {
  padding-bottom: var(--spacing-100);
}

.card__title-bar, .card__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
